@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-navbar {
    /* Mã CSS */
    background: linear-gradient(rgba(126, 60, 142, 0.2) 0%, rgba(223, 140, 97, 0.1) 52.58%, rgba(249, 230, 203, 0) 100%);
}

.transition-global {
    transition: all;
    transition-duration: 300s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-navbar {
    margin: 0, -4px;
    padding: 4px;
    padding-right: 10px;
}

.notification-bell-button {
    padding: 0.25rem 0.5rem;
    margin: -0.25rem -0.5rem;
}

.button-reset {
    all: unset;
}